.input_group{

    border-radius: 10px;
    overflow: hidden;
    border: solid 1px var(--gray1);
    margin: 10px 0;
    width: 100%;
    
    
    input{
        width: 100%;
        padding: 14px;
        border: 0px;
        outline: none;

        &::placeholder {
            color: var(--blue2);
            opacity: 1; /* Firefox */
            font-weight: 500;
            font-size: 1em;
          }
          
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: var(--blue2);
          }
          
          &::-ms-input-placeholder { /* Microsoft Edge */
           color: var(--blue2);
          }
        
    }

}