.Router{
    display: flex;
    width: 100%;
    max-height: 100vh;

    .sidebarWrapper{
        width: 20%;
        position: sticky;
    }

    .pageWrapper{
        width: 100%;
        overflow: auto;
    }
}