.file-show{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: solid 2px var(--gray1);
    border-radius: 20px;
    overflow: hidden;
    

    .header{
        display: flex;
        padding: 10px;
        background-color: var(--blue2);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        h6{
            font-size: 1.25em;
            color: white;
        }

        .input-group{
            margin-left: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // checkbox color
            


            #select-all{
                width: 20px;
                height: 20px;
            }

            label{
                margin-left: 10px;
                color: white;
            }
        }
    }

    .body{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 400px;
        overflow-y: auto;

        .details{
            display: flex;
            padding: 10px;
            border-bottom: solid 2px var(--gray1);
            cursor: pointer;
            .icons{
                margin-left: auto;

                img{
                    width: 18px;
                    margin-left: 15px;
                }
            }
        }

        .selected{
            background-color: #f7f7f7;
        }
    }
}