body {
    font-family: 'Nunito', sans-serif;
  }


  .form{
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  margin-top: -10%;
  }
  
  .profile_button{
   margin-top: 25%;
   margin-bottom: 20px;
  }
  
  input{
    text-align: left !important; 
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .update
  {
    font-size: 22px;
      font-weight: 100;
      line-height: 29px;
      letter-spacing: 0.6px;
    color : #3c9cc2;
  }

.col1
{
  margin-left: 7%;
  margin-top: 20%;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height:1.5;
	font-size:1em;
}


input {
	font-family: inherit;
	line-height:inherit;
	color:#2e3750;
	min-width:12em;
}

::placeholder {
	color:#cbd0d5;
}

html::after {
	content:'';
	background: linear-gradient(21deg, #10abff, #1beabd);
	height:3px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}