.home{
    padding: 0;
    // width: 100%;
    // overflow-x: hidden;
    .right{
        display: flex;
        flex-direction: column;

        .logoMain{
            padding-top: 35px !important;
            padding: 20px 0;
            width: 100%;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
        }
    }
}