table {
    width: 100%;
    border-spacing: 0px;

    thead {
        background-color: var(--blue1);

        th {
            border: 1px solid var(--gray1);

            p {
                white-space: nowrap;
                padding: 10px;
                text-align: left;
            }
        }
    }

    tbody {
            .color{
                background-color: var(--blue1) ;
            }
        
        td {
            border: 1px solid var(--gray1);
            background-color: transparent;
            

            input{
                background-color: transparent;
                border: 0;
                outline: none;
                padding: 10px ;
            }

            p {
                padding: 10px;
            }
        }
    }
}
