@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --gray1: #e4e4e4;
  --blue1: #d6ecfd;
  --blue2: #0762A3;
}


body{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}



@media only screen and (max-width: 1280px) {
  body {
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 1000px) {
  body {
    font-size: 11px !important;
  }
}
@media only screen and (max-width: 1600px) {
  body {
    font-size: 13px;
  }
}


/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 50px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D6ECFD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cbe7fd;
}


.master-modal-header{
  padding: 12px !important;
  font-size: 24px;
  display: flex;
  /* gap: 300px; */
  justify-content: space-between;
  background-color: var(--blue2);
  color: white;

}

.master-modal-body{
  display: flex;
  padding: 25px 12px;
  justify-content: space-between;
  gap: 8px;
}

.master-modal-body input{
  outline: none;
  box-shadow: inset -4px -4px 12px rgba(253, 255, 255, 0.8), inset 4px 4px 12px rgba(187, 195, 206, 0.6);
  border-radius: 10px;
  color: var(--blue2);
  background: var(--blue1);
  padding: 12px 10px;
  border: none;
}
.master-modal-body input::placeholder{
  color: var(--blue2);

}


.master-modal-body button{
  padding: 12px 15px;
  background: none;
  border: none;
  color: var(--blue2);
  cursor: pointer;
}